.goalContainer {
  cursor: pointer;
  position: relative;
  /* height: auto; */
  /* width: auto; */
  /* width: 5rem; */
  /* background-color: rgba(255, 255, 255, 0.75); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  max-width: 7rem;
  max-height: 10.25rem;
  /* padding-top: 1.5rem; */
  /* padding-bottom: 1.5rem; */
  /* padding-left: 2rem; */
  /* padding-right: 2rem; */
  /* margin: 1.25rem; */
  border-radius: 25px;
  /* border-color: rgba(0, 0, 0, 0.75); */
}
.goalContainer:hover {
}

.goal_button {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-self: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  width: 7.2rem;
  height: 7.2rem;
  /* font-size: 1.4rem !important; */
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  border: black solid 1.5px;
  /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05),
    0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05); */
}
.goal_button_icon {
  /* position: relative; */
  /* top: 1.85rem; */
  /* font-size: 0.25rem !important;
  max-height: 0.25rem !important;
  max-width: 0.25rem !important; */
}

.goal_text {
  /* position: relative; */
  text-align: center;
  /* top: 2rem; */
  width: auto;
  /* padding: 1.5rem; */
  /* height: 2.5rem; */
  /* left: rem; */
  font-weight: 500;
  /* font-family: Georgia, "Times New Roman", Times, serif; */
  font-size: 0.85rem;
  /* background-color: white; */
  color: black;
  /* border-radius: 25px; */
  /* z-index: 2501 !important; */
}
