.item {
  z-index: 3000;
  /* position: relative; */
  position: absolute;
  display: flex;
  /* height: 14rem;
  width: 10rem; */
  /* align-self: flex-end;
  align-content: flex-end;
  justify-content: flex-end;
  justify-self: flex-end; */
  align-self: center;
  align-content: center;
  justify-self: center;
  justify-content: center;
  /* height: 100%; */
  /* width: 100%; */
  margin: 0.5rem;
  /* padding-bottom: 2rem; */
  transition: scale 1.5s, background-color 1.5s;
  top: -0.45rem;
}

.item img {
  display: flex;
  align-self: flex-end;
  justify-self: flex-end;
}

.item:hover,
.item:hover img {
  transform: scale(1.2);
  background-color: #6ebe71;
  border-radius: 25px;
  /* background-color:rgba(127, 131, 127, 0.527) */
}

/* .item:hover img {
  filter: invert(65%);
  filter: hue-rotate(180deg);
} */
